*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: 16px;
}
.main_grid{
	display: grid;
}
.grid{
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 5fr;
	grid-gap: 150px 150px;
}
.wrapper{
	margin: 0 auto;
	width: 1024px;
}
.flex-v{
	display: flex;
	flex-flow: column nowrap;
}
.flex-h{
	display: flex;
	flex-flow: row nowrap;
}
.space{
	justify-content: space-around !important;
}
.center{
	justify-content: center;
	align-items: center;
}
.georgia{
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.arial{
	font-family: Arial, Helvetica, sans-serif;
}
header{
	background-image: url(img/background.png);
	color: white;
	background-size: cover;
	height: 100vh;
}
#margining{
	padding: 50px 0 200px 0;
}
.pad{
	padding: 50px 0;
}
h1{
	font-size: 2.75rem;
}
h3{
	font-size: 2rem;
	font-weight: lighter;
}
.sizing-1{
	font-size: 0.75rem;
}
nav ul li{
	list-style: none;
}
nav ul li a{
	text-decoration: none;
	color: white;
}
nav ul li a:after {    
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 2px;
  background: #f1cdb3;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
nav ul li a:hover:after { 
  width: 100%; 
  left: 0; 
}
button{
	display: inline-grid;
	align-self: center;
	border-radius: 17px;}
.button{
	background-color: #f1cdb3;
	border: none;}
.button:hover{
	background-color: #fddcc4;
}
button a{
	padding: 9px 23px;
	color: black;
	text-decoration: none;
}
.greyhound{
	color: #545454;
}
.pink-peach{
	color: #f1cdb3;
}
#first_one img{
	width: 20%;
	padding-right: 100px;
}
#first_one, #third_one{
	background-color: #fafafa;
}
#second_one, #forth_one{
	background-color: #f6f6f6;
}
.name{
	font-size: 1.25rem;
}
.pet{
	background-color: #fafafa;
	height: 380px;
}
.arrow{
	border: 1px solid #f1cdb3;
	border-radius: 50%;
	margin-top: 180px;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
background-position: 12px;
}
.arrow:hover, .sc_btn:hover{
	background-color: #f1cdb3;
}
#left{
background-image: url(img/long-left-arrow.png);
}
#right{
background-image: url(img/long-right-arrow.png);
}
#slider{
	grid-template-columns: 50px 1fr 1fr 1fr 50px;
	grid-gap: 50px 50px;
	justify-items: center;
	margin: 30px 0;
}
.sc_btn{
	width: 150px;
	border: 2px solid #f1cdb3;
	background-color: transparent;
}
.text-center{
	text-align: center;
}
.flex_icons{
	display: flex;
	flex-flow: row wrap;
	width: 1024px;
}
.item{
	width: 174px;
	padding: 20px 0;
	text-align: center;
}
.times{
	font-family: 'Times New Roman', Times, serif;
}
#bank{
	color: #292929;
	background-color: #f1cdb3;
	border-radius: 5px;
}
.legal{
	color: #b2b2b2;
	font-style: italic;
	line-height: 1.125rem;
}
#forth_one img{
	width: 52%;
padding-right: 100px;
}
.before:before{
		width: 30px;
	height: 24px;
	padding-right: 12px;
}
#card:before{
	content: url(img/credit-card.png);
}
#card{
	padding: 8px;
}
.grid_three{
	grid-template-rows: 2fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}
footer{
	background-image: url(img/bg.png);
	color: white;
	background-size: cover;
}
#mail:before{
	content: url(img/envelope.png);
}
#phone:before{
	content: url(img/telephone.png);
}
.point:before{
	content: url(img/pin.png);
}